.cropme-container {
    max-width: 100%
}

#imgModal-cropme {
    direction: ltr;
}

#cropped-img-wrp {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#cropped-img {
    max-height: 90%; 
    border: 2px solid white;
}