.cropme-container {
    max-width: 100%
}

#imgModal-cropme {
    direction: ltr;
}

#cropped-img-wrp {
    width:200px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#cropped-img {
    
    border: 2px solid white;
    border-radius:50%;
}



#saved-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#cropped-img-wrp {
    padding: 0
}

